@font-face {
    font-family: "TTLakes";
    font-weight: 400;
    src: url("fonts/TTLakes-Regular.ttf");
}
@font-face {
    font-family: "TTLakes";
    font-weight: 700;
    src: url("fonts/TTLakes-Bold.ttf");
}
body {
    margin: 0;
    font-family: "TTLakes";
    min-width: 320px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;
    background-color: white;
}
.main-menu {
    display: flex; 
    align-items: center;
    margin-left: 16px;
}
.extra-menu {
    display: flex;
}
.icon-button {
    background-color: transparent;
    border: none;
}
.menu {
    display: flex;
}
.logo {
    display: flex;
    margin-left: 16px;
}
.repair {
    display: flex;
    justify-content: space-evenly;
    margin-right: 16px;
}
.repair::before {
    content: "";
    width: 2px;
    height: 32px;
    background: #EAEAEA;
    border-radius: 1px;
    margin: 4px 16px;
}
.contacts {
    display: none;
}
.scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-left: 16px;
}
.scroll__option {
    height: 40px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    white-space: nowrap;
    color: #7E7E82;
    padding: 8px 16px 8px 16px;
    margin-bottom: 16px;
}
.scroll__option:hover {
    background-color: white;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}
.content {
    background-color: #F8F8F8;
}
.heading {
    font-weight: 700;
    color: #1B1C21;
    font-size: 28px;
    letter-spacing: -0.6px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.heading::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 40px;
    margin-right: 16px;
    background: #41F6D7;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.body {
    display: flex;
    flex-wrap: wrap;
}

.info__text {
    max-width: 288px;
    font-size: 14px;
    color: #1B1C21;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin-left: 16px;
    margin-right: 16px;
    height: 90px;
    overflow: hidden;
    padding-left: 10px;
}
.info__more {
    border: 2px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    width: 132px;
    height: 24px;
    line-height: 24px;
    color: #1B1C21;
    margin-left: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-right: 0;
    padding-left: 16px;
    background-image: url("img/icons/icon.svg");
    background-size: 7.41px;
    background-repeat: no-repeat;
    background-position: 0px 7px;
}
.image {
    width: 100%;
    max-width: 531px;
    height: auto;
}
.title {
    display: flex;
    justify-content: space-between;
}
.hidden {
    display: none;
    padding-top: 42px;
}
.icon-button {
    vertical-align: middle;  
}
.hidden-button {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    color: #1B1C21;
    vertical-align: middle;
    padding-left: 8px;
}
.hidden__apply {
    margin-right: 0px;
}

@media screen and (min-width: 768px) {
    .header {
        justify-content: space-between;
    }
    .contacts {
        display: flex;
    }
    .menu::after {
        content: "";
        width: 2px;
        height: 32px;
        background: #EAEAEA;
        border-radius: 1px;
        margin: 4px 20px 4px 20px;
    }
    .logo {
        margin-left: 0;
    }
    .body {
        flex-wrap: nowrap;
    }
    .info__text {
        height: 160px;
        min-width: 312px;
        line-height: 20px;
    }
    .image {
        border-radius: 6px;
        margin-left: 48px;
        margin-right: 25px;
        max-width: 110%;
    }
    .info {
        flex-grow: 1;
    }
    .scroll__option {
        margin-right: 16px;
    }
}

@media screen and (min-width: 1120px) { 
    .header {
        display: none;
    }
    .scroll {
        flex-wrap: wrap;
        overflow: hidden;
        justify-content: space-between;
    }
    .hidden {
        display: flex;
        margin-right: 32px;
    }
    .info__text {
        min-width: 490px;
    }
    .image {
        border-radius: 6px;
        margin-left: 30px;
        margin-right: 25px;
    }
    .scroll__option {
        margin-right: 19px;
    }
    .body {
        justify-content: space-between;
    }
    .heading {
        padding-top: 42px;
    }   
}
